<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Management</title>
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <style>
      .header-title {
        text-align: center;
        margin-top: 20px;
        font-size: var(--fs-title-xl);
        font-weight: var(--fw-bold);
        width: 100%;
      }
    </style>
  </head>
  <body>
    <main>
      <header>
        <h1 class="header-title">Management</h1>
      </header>

      <section class="product-management">
        <div class="product-list">
          <!-- Product items will be dynamically inserted here -->
        </div>
        <button id="add-product-btn" class="button">Add New Product</button>
    </main>
  </body>
</html>
