<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
  <link rel="stylesheet" href="../../assets/css/main.css"/>
  <link rel="stylesheet" href="../../assets/css/pages/login-style.css">
  <link rel="icon" href="../../assets/images/productLogo.png" type="image/jpg" sizes="20x20">
</head>
<body>
  <div class="login-container">
    <h2 class="login-title">Login</h2>
    <form id="login-form">
      <div class="form-group">
        <input type="text" id="username" required placeholder="Email"/>
      </div>
      <div class="form-group">
        <input type="password" id="password" required placeholder="Password"/>
      </div>
      <div class="form-message" id="form-message"></div>
      <button class="button" type="submit">Login</button>
    </form>
  </div>
  <script type="module" src="../../../dist/controller/userController.js"></script>
</body>
</html>
