body {
  padding: 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: var(--clr-bg);
  /* border-radius: 12px; */
  /* box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08); */
  overflow: hidden;
}

.header-title {
  font-size: var(--fs-title-xl);
  font-weight: var(--fw-bold);
  width: 100%;
  color: var(--clr-header);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
