@font-face {
  font-family: 'Open-san';
  src: url('../../font/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
/* ================================
   Base Styles
=================================*/
* {
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  overflow-x: auto;
  background-color: var(--clr-bg);
  overflow-x: auto;
  padding: 40px;
}
